footer {
  background-color: $black;
  color: $light;

  .header {
    .logo {
      h3,
      h4 {
        cursor: pointer;
        transition: $transition;

        &:hover {
          transform: scale(0.9);
        }
      }
    }

    .icons {
      i {
        font-size: 1.7rem;
        color: #808080;
        cursor: pointer;
        transition: $transition;

        &:hover {
          color: #d1d1dd;
        }
      }
    }
  }
  .cards {
    .context {
      a:hover {
        text-decoration: underline !important;
      }
      .context-card {
        top: -4vh;
        background-color: #444444;
        border-top: 3px solid $orange;

        .button {
          padding: 4px 15px;
          background-color: $orange;
          color: $light;
          filter: none;
          font-size: 0.85rem;
          letter-spacing: 1px;
          transition: $transition;

          &:hover {
            letter-spacing: 2px;
            background-color: rgb(255, 166, 1);
          }
        }
      }
    }
  }
  .owner {
    a {
      font-family: sans-serif;
      transition: $transition;

      &:hover {
        color: $light !important;
      }
    }
  }
}
