$black: #222222;
$light: #fff;
$orange: #f7941d;
$blue: #1274e7;
$darkBlue: #0f63c5;
$full: 100%;
$sm: 0.75rem;
$btnShadow: drop-shadow(-5px 25px 20px rgba(0, 0, 0, 0.3));
$btnHardShadow: drop-shadow(-5px 20px 10px rgba(0, 0, 0, 0.5));
$transition: all 0.3s ease-in-out;
